body{
    overflow: hidden;
}
/* navigation section */
#navbar{
flex-direction: column;
}

#navbar ul li a{
    font-size: 1.2rem;
    padding: 8px;
}
/* home section */
#home{
    height: 264px;
    padding: 3px 20px;
    flex-direction: column;
}
#home::before{
    height: 400px;
    flex-direction: column;
}
#home p{
    font-size: 13px;
}
/* service section */
#services{
    flex-direction: column;
}
#services .box img{
    height: 117px;
    margin: auto;
    display: block;
}
/* client section */
#clients{
    overflow: hidden;
}
/* contact section */
/* footer Section */

/* utility classes */
.h-primary{
    font-size: 1.8rem;
    padding: 11px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}